<div class="container posts-page">
  <div class="post row">
    <div class="col-xs-1">
    </div>
    <div class="col-md-9 col-xs-11">
      <div class="info">
        <a ng-href="{{ training.pageURL }}">
          {{training.id}} - {{ training.name }}
        </a>
      </div>
      <div>
        <span>
          submitted by
          <a ng-href="#/users/{{ training.creatorUID }}">
            {{ training.creator }}
          </a>
        </span>
      </div>
    </div>
    <div class="col-md-2">
    </div>
  </div>

<div class="simpleDemo">
<ul dnd-list="steps">
    <li ng-repeat="step in steps"
        dnd-draggable="step"
        dnd-moved="steps.splice($index, 1)"
        dnd-effect-allowed="move"
        dnd-selected="selected = step"
        ng-class="{'selected': selected === item}"
        >
	<div>
        <b>Content: </b>{{step.content}}
	</div>
	<div>
        <b>Element: </b>{{step.element}}
	</div>
	<div>
        <b>Page: </b>{{step.page}}
	</div>
        <p class="author">posted by
          <a ng-href="#/users/{{ step.creatorUID }}">
            {{ step.creator }}
          </a>
	  <a 
	    ng-click="deleteStep(step)"
            ng-show="signedIn()">
            (delete)
          </a>
        </p>
    </li>
</ul>
</div>

<!--  <div ng-repeat="step in steps" class="row cmt">
    <div class="col-md-12">
      <p>Step Number: {{ step.number }}</p>
      <p>Step Content: {{ step.content }}</p>
      <p>Step Element: {{ step.element }}</p>
      <p>Step Page: {{ step.page }}</p>

      <p class="author">posted by
        <a ng-href="#/users/{{ step.creatorUID }}">
          {{ step.creator }}
        </a>
	<a 
	ng-click="deleteStep(step)"
        ng-show="signedIn()">
        (delete)
      </a>
      </p>
    </div>
  </div> -->

  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to add a step</p>
    </div>

    <form ng-show="signedIn()" ng-submit="addStep()">
      <input type="text" ng-model="stepNumber" placeholder="Add the Step Number" class="form-control"><br>
      <textarea
        ng-model="stepContent"
        placeholder="Add the Step Content"
        class="form-control"></textarea><br>
      <textarea
        ng-model="stepElement"
        placeholder="Add the Step Element"
        class="form-control"></textarea><br>
      <input type="text" ng-model="stepPage" placeholder="Add the Step Page" class="form-control"><br>
      <input type="submit" value="Add a Step" class="btn btn-primary" />
    </form>
  </div>

</div>