<div class="container posts-page">
  <div class="post row">
    <div class="col-xs-1">
    </div>
    <div class="col-md-9 col-xs-11">
      <div class="info">
        <a ng-href="{{ training.pageURL }}">
          {{training.id}} - {{ training.name }}
        </a>
      </div>
      <div>
        <span>
          submitted by
          <a ng-href="#/users/{{ training.creatorUID }}">
            {{ training.creator }}
          </a>
        </span>
      </div>
    </div>
    <div class="col-md-9 col-xs-11">
	<br><code class="language-html" data-lang="html">
		<span class="nt">
			&lt;script&gt;var InCloudTrnAppUrl = "https://hakunamatata.firebaseio.com"; var InCloudTrnID = "{{training.$id}}";&lt;/script&gt;
		</span>
	</code><br><br>
    </div>
  </div>

<ul ng-repeat="step in steps" class="list-group">
  <li class="list-group-item" ng-dblclick="editStep(step)">
	<span class="badge">
		<span ng-hide="step.editing">{{step.element}}</span>
	        <input ng-show="step.editing" ng-model="step.element" ng-blur="doneEditing(step)" style="color: black" autofocus />
	</span>
        <b>Content:</b>
	<span ng-hide="step.editing">{{step.content}}</span>
        <input ng-show="step.editing" ng-model="step.content" ng-blur="doneEditing(step)" autofocus />

	<br><br>

        <b>Page:</b>
	<span ng-hide="step.editing">{{step.page}}</span>
        <input ng-show="step.editing" ng-model="step.page" ng-blur="doneEditing(step)" autofocus />

        <p class="author">Posted by
          <a ng-href="#/users/{{ step.creatorUID }}">
            {{ step.creator }}
          </a>
	  <a 
	  ng-click="deleteStep(step)"
          ng-show="signedIn()">
          (delete)
          </a>
        </p>	
  </li>
</ul>


  <div class="cmt-form">
    <div ng-hide="signedIn()">
      <p><a href="#/login">Sign in</a> to add a step</p>
    </div>

    <form ng-show="signedIn()" ng-submit="addStep()">
      <textarea
        ng-model="stepContent"
        placeholder="Add the Step Content"
        class="form-control"></textarea><br>
      <textarea
        ng-model="stepElement"
        placeholder="Add the Step Element"
        class="form-control"></textarea><br>
      <input type="text" ng-model="stepPage" placeholder="Add the Step Page" class="form-control"><br>
      <input type="submit" value="Add a Step" class="btn btn-primary" />
    </form>
  </div>

</div>
